div.container-keypad {
    width: 250px;
    text-align: center;
}
div.bullet-container {
    margin-bottom: 15px;
}
div.row-bullet-container {
    margin: 5px 0
}

span.bullet {
    display: inline-block;
    background: rgb(64, 146, 179);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin: 0 4px;
}

span.bullet-empty {
    display: inline-block;
    background: rgb(240, 240, 240);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin: 0 4px;
}

span.number {
    display: inline;
}

span.hand {
    cursor: pointer;
}